<% layout("layout/boilerplate") %>
    <link rel="stylesheet" href="/stylesheets/userPage.css">

    <div class="container">
        <div class="headerMain">
            <div class="header">
                <h1>
                    <%=user.username%>s' notes
                </h1>
            </div>
            <div class="header2">

                <div id="settingsModal">
                    <a href="/"><button>Home</button></a>
                    <a href="/logout"><button>Sign out</button></a>
                </div>

                <div>
                    <%if(note.length){%>
                        <button class="pinkBtn" id="openNoteModal2">New Note</button>
                        <%}%>
                            <button class="whiteBtn" id="openSettingsModal"><svg xmlns="http://www.w3.org/2000/svg"
                                    width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
                                </svg></button>
                </div>

            </div>
        </div>
        <%if(!note.length){%>
            <div id="noteModalCont">
                <div id="noteModal">
                    <h3>Make your first note!</h3>
                    <form action="/user" method="POST">

                        <input type="text" name="text" id="text" placeholder="Add Note" required>
                        <input type="date" name="date" id="date">
                        <br>
                        <input type="radio" name="noteColor" id="addRedNote" value="redNote">
                        <label for="addRedNote">Red</label>
                        <input type="radio" name="noteColor" id="addBlueNote" value="blueNote">
                        <label for="addBlueNote">Blue</label>
                        <input type="radio" name="noteColor" id="addGreenNote" value="greenNote">
                        <label for="addGreenNote">Green</label>
                        <input type="radio" name="noteColor" id="addYellowNote" value="yellowNote">
                        <label for="addYellowNote">Yellow</label>
                        <input type="radio" name="noteColor" id="addPurpleNote" value="PurpleNote">
                        <label for="addPurpleNote">Purple</label>
                        <br>
                        <button class="pinkBtn" id="submitNoteModal">Submit</button>
                    </form>


                </div>
            </div>
            <%}%>
                <div>
                    <%if(note.length){%>
                        <div id="noteModalCont2">
                            <div id="noteModal2">

                                <form action="/user" method="POST">

                                    <input type="text" name="text" id="text" placeholder="Add Note">
                                    <input type="date" name="date" id="date">
                                    <br>
                                    <input type="radio" name="noteColor" id="addRedNote" value="redNote">
                                    <label for="addRedNote">Red</label>
                                    <input type="radio" name="noteColor" id="addBlueNote" value="blueNote">
                                    <label for="addBlueNote">Blue</label>
                                    <input type="radio" name="noteColor" id="addGreenNote" value="greenNote">
                                    <label for="addGreenNote">Green</label>
                                    <input type="radio" name="noteColor" id="addYellowNote" value="yellowNote">
                                    <label for="addYellowNote">Yellow</label>
                                    <input type="radio" name="noteColor" id="addPurpleNote" value="PurpleNote">
                                    <label for="addPurpleNote">Purple</label>
                                    <br>
                                    <button class="pinkBtn" id="submitNoteModal2">Submit</button>
                                    <button class="whiteBtn" id="closeNoteModal2">Cancel</button>
                                </form>
                            </div>
                        </div>
                        <%}%>

                </div>
                <%if(note.length){%>
                    <div class="box">

                        <div>
                            <%if(note.length){%>
                                <%for(let {text, date, noteColor,id} of note){%>
                                    <%console.log(Date(Date.parse(date)).slice(0,10))%>
                                        <div class="note <%=noteColor%>">
                                            <div class="innerNote">
                                                <form action="/user/<%=id%>?_method=PUT" method="POST">
                                                    <input type="text" name="text" id="text" value=" <%=text%>">
                                                    <button class="editBtn"><svg xmlns="http://www.w3.org/2000/svg"
                                                            width="16" height="16" fill="currentColor"
                                                            class="bi bi-check-square" viewBox="0 0 16 16">
                                                            <path
                                                                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                                                            <path
                                                                d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z" />
                                                        </svg></button>
                                                </form>


                                                <form action="/user/<%=id%>?_method=DELETE" method="POST">
                                                    <button class="deleteBtn"><svg xmlns="http://www.w3.org/2000/svg"
                                                            width="16" height="16" fill="currentColor"
                                                            class="bi bi-trash" viewBox="0 0 16 16">
                                                            <path
                                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                                            <path
                                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                                        </svg></button>
                                                </form>

                                            </div>
                                            <div class="innerNote2">

                                                <%=Date(Date.parse(date)).slice(0,10)%>

                                            </div>


                                        </div>
                                        <%}%>
                                            <%}%>
                        </div>
                    </div>
                    <%}%>
                        <%if(!note.length){%>
                            <div class="box2">
                                <div>

                                    <img id="userPageImg"
                                        src="https://res.cloudinary.com/dqggp5pir/image/upload/v1701725759/Note%20app/Hello_Gif_anamyx.gif"
                                        alt="">

                                </div>


                            </div>
                            <%}%>


    </div>






    <script src="/scripts/userPageModals.js"></script>